body
{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
#header{
    height: 60px;
    display: flex;
    /* border: 1px solid red; */
    box-shadow: 1px 1px 4px 1px rgb(230, 230, 230);
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px  ;
}
#header>a{
    width: 20%;
    margin-top: 20px;
    margin-left: 100px;
}
#header img{
    width: 100%;
}
#login-info{
    /* border: 1px solid blue; */
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#wishlist{
    width: 20%;
    align-items: center;
}
#navbar{
    /* border: 1px solid red; */
    /* box-shadow: 1px 1px 10px 5px rgb(228, 228, 228); */
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
#navbar>a{
    text-decoration: none;
    color: black;
}
#ad{
    width: 80%;
    /* height: 300px; */
    margin: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    text-align: center;
}
#ad>button{
    width: 10%;
    height: 50px;
}
#ad>div{
    width:50%;
}
#ad img{
    width: 100%;
    /* height: 230px; */
}
#container{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap : 20px;
}
#container img{
    width: 100%;
}
#container>div{
    box-shadow: 1px 1px 4px 1px rgb(218, 218, 218);
    padding-left: 5px;
    padding-right: 5px;
    /* border: 1px solid blue; */
}
#container>div>div{
    display: flex;
    justify-content: space-between;
}
#home{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#home>div{
    display: flex;
}
img{
    width: 100%;
}
#home button{
    margin-top: 20px;
    margin-bottom: 30px;
}
#home>div>button:nth-child(2){
    margin-left: 50px;
}
video{
    width: 110%;
    margin-top: 30px;
}
#search-bar{
    width: 80%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    margin: auto;
    margin-top:30px;
}
#search-bar>div>img{
    width:100%;
}
#search-bar>div:nth-child(1){
    /* border: 1px solid green; */
    width: 10%;
}
#search-bar>div:nth-child(2){
    width: 60%;
    /* border:1px solid blue; */
    display: flex;
    align-items: center;
}
#search-input{
    width: 70%;
    height: 50%;
    margin-left: 20px;
    border: 1px solid brown;
    border-radius: 10px;
    font-size: 24px;
}
#search-input+button{
    width: 30%;
    margin-left: 20px;
    color: brown;
}
#search-input::placeholder{
    /* border: 1px solid red; */
    font-size: 24px;    
}
button{
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: white;
    border: 1px solid brown;
    border-radius: 10px;
    padding: 10px;
}
#notify{
    width: 100%;
    grid-area: 1/1/2/5;
    text-align: center;
    color: brown;
    padding-bottom: 20px;
}
#notify a{
    margin-right: 30px;
    text-decoration: none;
    font-size: 20px;
}
#cart-filter{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
#cart-filter>div{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#card-filter select{
    height: 60%;
}
h1{
    text-align: center;
    font-size: 40px;
}
#offer-content{
    width: 80%;
    height: 400px;
    margin: auto;
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    box-shadow: 1px 1px 10px 1px rgb(193, 192, 192);
    text-align: center;
}
#offer-content>button{
    width: 10%;
    height: 50px;
}
#offer-content>div{
    width:50%;
}
#offer-content a{
    font-size: 20px;
    text-decoration: none;
    color: brown;
}

#footer{
    position: relative;
    left: 10%;
    right: 10%;
    bottom: 0;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    padding: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}