body
{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
#header{
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    overflow: hidden;
    /* border: 1px solid red; */
    box-shadow: 1px 1px 4px 1px rgb(230, 230, 230);
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px  ;
}
#header>a{
    width: 20%;
    margin-top: 20px;
    margin-left: 100px;
}
#header img{
    width: 100%;
}
#login-info{
    /* border: 1px solid blue; */
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#wishlist{
    width: 20%;
    align-items: center;
}
#login-info{
    /* border: 1px solid blue; */
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#wishlist{
    width: 20%;
    align-items: center;
}

#login-container{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    /* border: 1px solid green; */
    justify-content: space-around;
}
.sign{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    /* border: 1px solid orange; */
}
.sign>div{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: center;
    margin-bottom: 10px;
}       
.sign>input{
    /* width: 100%; */
    height: 30px;
    margin-bottom: 20px;
}
.sign>div>div{
    display: flex;
    /* justify-content: space-between; */
    width: 40%;
    /* border: solid green; */
}
.sign>div>div>input{
    width: 15%;
    margin-right: 5px;
}
.sign>button{
    height: 40px;
}
@media screen and (max-width:700px)
{
    #header>a{
        width: 30%;
        margin-top: 20px;
    }
    #login-info{
        width: 30%;
        justify-content: space-between;
    }
    .sign>div{
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }
}